@font-face{
  font-family: "Comic Shanns";
  src: url("../assets/fonts/Comic-Shanns/comic-shanns.otf")
}

@font-face {
  font-family: 'Lilita One';
  src: url("../assets/fonts/Lilita_One/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Excalifont';
  src: url('../assets/fonts/Excalifont-Regular.woff2');
}