.hero-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#8bacf1e8, hsl(210, 100%, 85%), #eec3bb);
}

.hero-container{
  text-align: center;
  max-width: 600px;
}

.hero-tagline{
  font-weight: bolder;
  font-family: "Agbalumo";
}

.hero-get-started{
  margin-top: 50px;
  background-color: black;
  padding: 8px 10px;
  font-size: 22px;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  font-family: "Bubblegum_Sans";
  cursor:pointer;
}

.hero-get-started:hover{
  background-color: rgb(7, 7, 7);
}